.btn{
    text-decoration: none;
    padding: 15px 40px;
    font-size: 18px;
    background: transparent;
    border: 1px solid transparent;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: color 0.4s cubic-bezier(0.42, 0, 0.58, 1);
    z-index: 1;
}
.btn::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    z-index: -1;
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}
.btn:hover::before{
    left: 0;
    right: auto;
    width: 100%;
}
.btn-link{
    border: none !important;
    background: transparent !important;
}
.btn--large{
    padding: 20px 70px;
}
.btn--primary{
    color: #404040;
    background: #fff;
    border-color: #404040;
}
.btn--primary:hover{
    color: #fff !important;
    background-color: transparent;
}
.btn--primary::before{
    color: #ffffff !important;
    background: #404040;
}

.btn--light{
    background: transparent;
    border: 1px solid #fff;
}
.btn--light:hover{
    color: #404040 !important;
}
.btn--light::before{
    background: #fff;
}

.btn--danger{
    background: transparent;
    border: 1px solid #cf5757;
    color: #cf5757;
}
.btn--danger:hover{
    color: #fff !important;
}
.btn--danger::before{
    background: #cf5757;
}

.btn-link.btn--danger{
    color: #cf5757 !important;
}